{% extends 'zappApp/layout.html'%} {% load crispy_forms_tags%} {% block body %}
<br>

<div class="container border p-4 rounded col-4">
    <h4 class="p-3">SignIn Form</h4>
    <form method="POST" , action="{% url 'Login' %}" id='loginForm'>

        {{form| crispy}}
        <input class="btn-btn-sm btn-success m=3 p-2 rounded" type="submit" value="Login"> {% csrf_token %}
    </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.js" integrity="sha256-H
+K7U5CnXl1h5ywQfKtSj8PCmoN9aaq30gDh27Xc0jk=" crossorigin="anonymous"></script>

<script>
    $(document).on('submit', '#loginForm', function(e) {
        e.preventDefault();
        var username = $('#id_username').val()
        var password = $('#id_password').val()

        $.ajax({
            type: 'POST',
            url: '/login/',
            data: {
                username: username,
                password: password,
                csrfmiddlewaretoken: $('input[name=csrfmiddlewaretoken]').val()
            },
            success: function(response) {
                console.log(response);
            }

        })
    })
</script>
{% endblock %}